[Unit]
Description=Mailman3 - WSGI

[Service]
Type=simple
Environment=DJANGO_SETTINGS_MODULE=mugmailinglists.settings
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/mailman.medunigraz.at.py
Environment=PYTHONPATH=/var/www/wsgi/mailman.medunigraz.at/src
WorkingDirectory=/var/www/wsgi/mailman.medunigraz.at/src
User=list
RuntimeDirectory=mailmain3
ExecStart=/usr/bin/gunicorn3 -w 6 -b unix:/run/mailman3/wsgi.sock mugmailinglists.wsgi:application

[Install]
WantedBy=multi-user.target
