[Unit]
Description=Mailman3 - QCluster

[Service]
Type=simple
Environment=DJANGO_SETTINGS_MODULE=mugmailinglists.settings
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/mailman.medunigraz.at.py
Environment=PYTHONPATH=/var/www/wsgi/mailman.medunigraz.at/src
WorkingDirectory=/var/www/wsgi/mailman.medunigraz.at/src
User=list
RuntimeDirectory=mailmain3
ExecStart=/usr/bin/django-admin qcluster

[Install]
WantedBy=multi-user.target
RequiredBy=mailman3-gunicorn-wsgi.service
